.returnButton {
    text-align: center;
    margin: left;
    padding-top: 20px;


}

.returnButton .btn {
    margin: 10px;
  float: left;
    margin-bottom: 40px ;
}


.flag2 {

    width: 30vw;
    min-width: 480px;
    min-height: 200px;
    text-align: center;
    margin: auto;
}
.flag2 img{
    max-height: 200px;
    align: center;
}

@media only screen and (max-width: 800px) {
    .flag{
        min-width: 100px;
        width: 80vw;

    }
}

.options {
    text-align: center;
    margin: auto;
    padding: 20px;
}
#game1div {
    padding: 0px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3)
}



@media only screen and (max-width: 800px) {
    #game1div button{

        width: 80%;
        min-height: 80px;
        height: 100%;
        float: none;
        margin:0;
    }
}
.progress {


    margin-bottom: 0px;
}
.progress-bar {
    width: 10%;
    color: black;
}
